<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <% if (message == 'doctormain') {%>

    <%- include('./partials/nav.ejs', key) %>
    <div class="container toolsCust">
        <!-- NAVBAR FOR MANAGEMENT -->
        <nav class="navbar bg-light"
            style="margin-top: 2rem; height: 6rem; background-color: rgb(112, 131, 144); width: 100%;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="color: azure; ">Doctors Information</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <% if (key == 'admin') {%>
                    <li><button class="addButton"><a href="/doctor/add">+ Add</a></button></li>
                    <li><button class="deleteButton"><a href="/doctor/delete">- Delete</a></button></li>
                    <% } %>
                    <li><button class="listButton"><a href="/doctor/list">List</a></button></li>
                </ul>
            </div>
        </nav>
    </div>
    <% } %>

    <% if (type == 'delete') {%>
    <form method="post" action="/doctor/delete">
        <input type="number" id="did" name="id" placeholder="Enter id" style="font-family: 'Khand', sans-serif;"
            required><br>
        <button id="submit" name="submit" class="btn btn-primary">Submit</button><br>
    </form>
    <%} else if (type == 'add'){ %>
    <form method="post" action="/doctor/add">
        <input type="number" id="id" name="id" placeholder="id" style="font-family: 'Khand', sans-serif;" required><br>
        <input type="text" id="name" name="name" placeholder="name" style="font-family: 'Khand', sans-serif;"
            required><br>
        <input type="text" id="department" name="department" placeholder="department"
            style="font-family: 'Khand', sans-serif;" required><br>
        <input type="text" id="address" name="address" placeholder="address" style="font-family: 'Khand', sans-serif;"
            required><br>
        <input type="text" id="phone" name="phone" placeholder="phone" style="font-family: 'Khand', sans-serif;"
            required><br>
        <input type="email" id="email" name="email" placeholder="E-mail" style="font-family: 'Khand', sans-serif;"
            required><br>
        <button id="submit" name="submit" class="btn btn-primary">Submit</button><br>
    </form>
    <%} else if (type == 'list'){ %>
    <%if (message.length > 0) {%>
    <div style="margin-top: 4%;">
        <table style="color: rgb(112, 131, 144);  font-size: 2rem; border-collapse: separate; border-spacing: 3rem 0;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% message.forEach( msg => {%>
                <tr>
                    <td><%= msg.id %></td>
                    <td><%= msg.name %></td>
                    <td><%= msg.department %></td>
                    <td><%= msg.address %></td>
                    <td><%= msg.phone %></td>
                    <td><%= msg.email %></td>
                </tr>
                <% }) %>

            </tbody>
        </table>
    </div>
    <% } else {%>
    <p>No record of Doctor is available</p>
    <% } %>
    <% } %>

    <% if (type !== 'list' && message !== 'doctormain') {%>
    <% if (message.length > 0) {%>
    <p><%= message %></p>
    <% } %>
    <% } %>

</body>

</html>